	.DS_Store
	figures/.DS_Store
	figures/dispersion_diagram.pxm
	figures/dispersion_diagram1.png
	figures/dispersion_diagram2.png
	figures/dispersion_diagram3.png
	figures/morey2005_fig2.png
	figures/nowlin2005_fig11.png
	figures/nowlin2005_fig11.pxm
	figures/nowlin2005_fig12.png
	figures/nowlin2005_fig12.pxm
	figures/nowlin2005_fig13.png
	figures/nowlin2005_fig13.pxm
	figures/parallelization.pxm
	figures/relative_diffusion_comp.pdf
	figures/river_plume_summer.png
	figures/river_plume_winter.png
	figures/rob_eddies.png
	figures/tracpy-tracmass.pxm
	thyng.nav
	thyng.snm
	thyng.toc
